{% extends 'base.html' %}
{% block content %}
<div class="lobby-container">
  <h2><br>Lobby - {{ code }}</h2>

  <h3>Waiting for participants to join...</h3>
  <div id="participants-list">
    <!-- List of participants will be dynamically populated here -->
  </div>
</div>

<script src="https://cdn.socket.io/4.4.0/socket.io.min.js"></script>
<script>
  const socket = io();

  // Listen for updates on participants in the room
  socket.on('update_participants', function(data) {
    const participantsList = document.getElementById('participants-list');
    participantsList.innerHTML = '';  // Clear the current list
    data.participants.forEach(participant => {
      const div = document.createElement('div');
      div.textContent = participant;
      participantsList.appendChild(div);
    });

    // Emit to connect to the room if it's full
    if (data.is_full) {
      socket.emit('connect_room');
    }
  });

  // Listen for the redirect event and perform the redirection
  socket.on('redirect_to_room', function(data) {
    window.location.href = data.url;
  });

  // Notify server when user connects to the lobby
  socket.emit('connect_lobby');
</script>
{% endblock %}
