{% extends "base.html" %}

{% block content %}
<div class="container">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="CustomTales Logo" class="logo">
    <h1>Lobby<br>Room Code - {{ code }}</h1>
    <br>
    <h2>Waiting for participants to join...</h2>
    <br>
    <div id="participants-list" style="color: white; font-size: large;">
        <!-- List of participants will be dynamically populated here -->
    </div>
    <br>
</div>

<script src="https://cdn.socket.io/4.4.0/socket.io.min.js"></script>
<script>
    const socket = io();

    // Listen for updates on participants in the room
    socket.on('update_participants', function(data) {
        const participantsList = document.getElementById('participants-list');
        participantsList.innerHTML = '';  // Clear the current list
        data.participants.forEach(participant => {
            const div = document.createElement('div');
            div.textContent = `${participant} joined the room`;
            participantsList.appendChild(div);
        });

        // Emit to connect to the room if it's full
        if (data.is_full) {
            socket.emit('connect_room');
        }
    });

    // Listen for the redirect event and perform the redirection
    socket.on('redirect_to_room', function(data) {
        window.location.href = data.url;
    });

    // Notify server when user connects to the lobby
    socket.emit('connect_lobby');
</script>
{% endblock %}