<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - CustomTales</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-logo">
        </div>
        <ul class="nav-links">
            <li><a href="{{ url_for('views.home_view') }}">Home</a></li>
            <li><a href="{{ url_for('views.about_us') }}">About Us</a></li>
            <li><a href="{{ url_for('auth.sign_up') }}">Sign Up</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('views.choose_action') }}">Choose Activity</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="container">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
        <form class="login-form" method="POST">
            <input type="text" name="username" placeholder="username" required>
            <br>
            <input type="password" name="password" placeholder="password" required>
            <br>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
